@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
:root {
  --primary-color: linear-gradient(
    to right,
    #edf5fd,
    #d8deda,
    #c3c8c4,
    #aeb1ae,
    #999b98,
    #848482
  );

  --background-color: rgba(0, 0, 0, 0.39);
  --input-color: rgb(0, 0, 0);
  --font-size: 1rem;
  --border-color: #0f02c0;
  --font-color: #000000;
  --color: #fff;
}
.dark-theme {
  --primary-color: linear-gradient(
    to right,
    #000000,
    #090909,
    #131313,
    #1a1a1a,
    #202020
  );
  --input-color: rgb(238, 238, 238);
  --color: #000000;
  --background-color: rgba(206, 206, 206, 0.39);
  --border-color: #0f02c0;
  --font-color: #fff;
}

body {
  background: var(--primary-color);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
}
.main-container {
  background-color: var(--background-color);
  padding: 2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(70%);
  box-shadow: 2px 3px 5px rgba(255, 255, 255, 0.39);
  transition: 0.5s ease;
}
.main-container h1 {
  font-size: 2rem;
  color: #ffffff;
  /* padding: .5em; */
}
.main-container input {
  padding: 0.6rem;
  border-radius: 6px;
  width: 40vw;
  border: 1px solid rgb(196, 187, 187);
  outline: none;
  margin-top: 20px;
  background-color: var(--input-color);
  color: white;
  border: var(--border-color) solid 2px;
  transition: 0.5s ease;
}
.main-container input::placeholder {
  color: var(--color);
  transition: 0.5s ease;
}
.input-box {
  display: flex;
  align-items: center;
}
.input {
  display: flex;
  flex-direction: column;
}
.main-container button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  width: 10vw;
  background-color: var(--input-color);
  color: var(--color);
  transition: 0.3 ease;
  transform: translate(20px);
  border: var(--border-color) solid 2px;
  transition: 0.5s ease;
}
.main-container button:hover {
  cursor: pointer;
  background-color: rgba(49, 49, 49, 0.705);
}
.main-container ul {
  list-style: none;
  padding: 10px;
  margin-top: 20px;
}
.main-container ul li {
  padding: 10px;
  border-bottom: 1px solid rgba(54, 52, 52, 0.644);
  color: var(--font-color);
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size);
}
.btn {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.856);
  transition: 0.3 ease;
  transform: translate(10px);
  color: red;
}
